<header>
  <div>

    {{#if user }}

    <nav class="navbar navbar-dark bg-dark sticky-top">
      <div class="container-fluid d-flex justify-content-around">

        <div>
          <a class="navbar-brand" href="/products">Ecommerce</a>
        </div>

        <div>
          <h1 style="display: flex; justify-content: center " class="text-light fs-2 text"> Bienvenido {{user.first_name}} </h1>
        </div>

        <div>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
          aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/products">Products List</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/api/users/current">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/cart/{{cartID}}">Cart</a>
              </li>
            </ul>
            <button class="btn btn-danger" onclick="location.href='/logout'">Log Out</button>
          </div>

          <div class="offcanvas-body">
                              
          {{#if user.isGithub }}
          
          <p>Name/Username: {{{user.first_name}}} </p>
          <p>Email: {{{user.email}}} </p>
          <p> Loging with: Github </p>

          {{else}}

          <p>First Name: {{{user.first_name}}} </p>
          <p>Last Name: {{{user.last_name}}} </p>
          <p>Email: {{{user.email}}} </p>
          <p>Age: {{{user.age}}} </p>
          <p> Loging with: LocalPassport </p>
          
          {{/if}}
          
          </div>
        </div>
      </div>
    </nav>

    {{/if}}
  </div>

</header>